@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme("colors.text");
  background: theme("colors.background");
  font-family: "SUSE", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card {
  @apply flex flex-col h-full p-4 rounded-sm w-full h-full border-b-2 md:flex-col md:border-2 border-secondary md:mx-2 md:bg-white md:p-4 md:max-w-64 md:min-h-64;
}

.recipe-category {
  @apply flex flex-col font-bold text-xs text-primary mt-2;
}

.recipe-name {
  @apply font-bold text-lg md:text-xl;
}

.card:hover > div > .recipe-name {
  @apply underline decoration-primary;
}

.recipe-description {
  @apply hidden text-xs mt-2 md:block;
}

.image {
  @apply h-48 relative;
}
